[submodule "support/jade-serial"]
	path = support/jade-serial
	url = git@github.com:LearnBoost/jade-serial.git
[submodule "support/expresso"]
	path = support/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "support/jade"]
	path = support/jade
	url = git://github.com/visionmedia/jade.git
